h1{

		border: 2px dashed red;
	
}


p{

		border: 2px dashed red;
	
}

li *{
	
		border: 2px dashed red;

}


li{
	
	
	height: 40px;
	list-style: none;
	border: 2px dashed red;
	border-radius: 15px;
	
}

a{
	height: 80px;

	border: 2px dashed green;
	border-radius: 2px;
	
}


ul{
	
		border: 2px dashed red;
	
}